<div class="container-fluid">
	<div class="jumbotron">
		<h1>CatCafé</h1>
		<p>Welcome to CatCafé! At CatCafé we serve coffee, tea, and a variety of baked goods. If you're looking for a quiet place to work, members can book our study rooms. We also support our local humane society by welcoming adoptable cats in our café.</p>
	</div>
</div>
