<div class="container">
	<div class="jumbotron">
		<h1>CatCafe</h1>
		<p>Welcome to CatCafe! At CatCafe we serve coffee, tea, and a variety of baked goods. If you're looking for a quiet place to work, members can book our study rooms. We also support our local humane society by welcoming adoptable cats in our cafe.</p>
	</div>
</div>