<html lang="en">

<head>
<style>
.jumbotron {
background: url(https://res.cloudinary.com/sagacity/image/upload/c_crop,h_2832,w_4256,x_0,y_0/c_limit,f_auto,fl_lossy,q_80,w_1080/shutterstock_379730806_xrxkx5.jpg) no-repeat center center fixed;
background-size: cover;
background: contain;
width: 100%;
height: 80vh;
color: #fff;
text-align: center;
display:inline-block;
vertical-align:middle;
padding: 130px 100px;
}
h1 {
font-family:"CafeandBrewery";font-family: 'Pacifico', cursive;
margin-bottom: 5%;
}
</style>
</head>

<body>
<div class="container-fluid">
	<div class="jumbotron">
		<h1>CatCafé</h1>
		<p>Welcome to CatCafé! At CatCafé we serve coffee, tea, and a variety of baked goods. If you're looking for a quiet place to work, members can book our study rooms. We also support our local humane society by welcoming adoptable cats in our café.</p>
	</div>
</div>
</body>

</html>
