<div class="container">
	<%= form_tag(controller: "member", action: "adopt_submit", method: "post", class: "form-group") do %>
		<%= select_tag(:cat_id, options_for_select(@available_cats)) %>

		<%= submit_tag("Adopt") %>
	<% end %>
</div>