<div class="container">
	<%= form_tag(controller: "member", action: "adopt", id:params['id'], method: "get") do %>
		<%= submit_tag"Adopt a cat", class: "btn btn-default" %>
	<% end %>

	<br>
	
	<%= form_tag(controller: "member", action: "book", id:params['id'], method: "get") do %>
		<%= submit_tag "Book a room", class: "btn btn-default" %>
	<% end %>
</div>