<div class="container">
	<%= form_tag(controller: "member", action: "adopt", id:params['id'], method: "get") do %>
		<%= submit_tag("Adopt a cat") %>
	<% end %>
</div>

<div class="container">
	<%= form_tag(controller: "member", action: "book", id:params['id'], method: "get") do %>
		<%= submit_tag("Book a room") %>
	<% end %>
</div>