<div class="container">
		<a href="#" class="btn btn-info">View Bookings</a> <!-- need to link -->
		<a href="#" class="btn btn-info">View Cats</a> <!-- need to link -->
		<a href="<%= login_path %>" class="btn btn-info">Login</a> <!-- need to link -->
		<a href="<%= sign_up_path %>" class="btn btn-info">Sign Up</a> <!-- need to link -->
</div>