<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">CatCafe</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="../member/adopt.html">Cats</a> <!-- need to link -->
			<li><a href="../member/book.html">Bookings</a> <!-- need to link -->
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="<%= sign_up_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> <!-- need to link -->
			<li><a href="<%= login_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> <!-- need to link -->
		</ul>
	</div>
</nav>

