<div class="container">
	<h2>Login</h2>
	<%= form_tag(controller: "login",  action: "login", method: "post", class: "form-group") do %>
		<%= email_field(:email, placeholder:'Email') %>
		<%= password_field(:user, :password, placeholder:'Password') %> 

		<%= submit_tag("Login") %>
	<% end %>
</div>